@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.mainContainer {
    margin: auto;
    box-sizing: border-box;
    max-width: 1440px;
    padding: 32px 64px;
}
